body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 30px;
}

.forms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-form, .search-form, .order-form {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-form select, .search-form input[type="text"], .order-form select {
    margin-right: 10px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.filter-form select:focus, .search-form input[type="text"]:focus, .order-form select:focus {
    border-color: #007bff;
}

.filter-form button, .search-form button, .order-form button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter-form button:hover, .search-form button:hover, .order-form button:hover {
    background-color: #0056b3;
}

.book-list {
    list-style: none;
    padding: 0;
}

.book-list li {
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-list li a {
    text-decoration: none;
    font-weight: bold;
}

.book-list li a:hover {
    text-decoration: underline;
}

.btn-edit, .btn-delete {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 0.875rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-edit {
    background-color: #28a745;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}

.pagination .current {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.btn-reserve {
    padding: 8px 16px;
    font-size: 0.875rem;
    color: white;
    background-color: #ff6607;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-reserve:hover {
    background-color: #ffca28;
}